{% extends 'base.html' %} {% block content %}
<h1 style="display: flex; justify-content: center; align-items: center;">About FilmSlate</h1>
<hr />
</br>
  <h2 style="font-size: 36px; width: 700px; margin: auto; text-align: left;"><b>What is FilmSlate?</b></h2>
</br>
  <p style="font-size: 20px; width: 700px; margin: auto; text-align: left;">FilmSlate is designed for movie enthusiasts who seek a comprehensive and interactive movie-watching experience. With a host of features at your fingertips, FilmSlate empowers you to dive into the world of cinema like never before. Our extensive database provides detailed information on thousands of movies, allowing you to explore and discover films across various genres, eras, and cultures.</p>
</br>
  <p style="font-size: 20px; width: 700px; margin: auto; text-align: left;">One of the key highlights of FilmSlate is the ability to write and update reviews. Share your thoughts, insights, and opinions on the films you watch, and engage with a vibrant community of like-minded cinephiles. Whether you want to express your admiration for a masterpiece or critique a recent release, FilmSlate offers a platform for you to articulate your cinematic experiences and spark meaningful discussions.</p>
</br>
  <p style="font-size: 20px; width: 700px; margin: auto; text-align: left;">In addition to writing reviews, FilmSlate gives you the freedom to delete reviews when you wish to revise or remove them entirely. We believe in empowering our users to have full control over their content, ensuring that your film-related reflections are always reflective of your evolving perspective.</p>
</br>
  <p style="font-size: 20px; width: 700px; margin: auto; text-align: left;">Beyond the review-centric features, FilmSlate offers a user-friendly interface and a wealth of resources to enhance your movie-watching journey. Explore our vast collection of films, access comprehensive information such as cast, crew, plot summaries, and ratings, and create curated lists to organize your favorite movies or showcase themed selections.</p>
</br>
  <p style="font-size: 20px; width: 700px; margin: auto; text-align: left;">FilmSlate is your virtual movie companion, catering to both casual viewers and dedicated film enthusiasts. Immerse yourself in the world of cinema, engage with a passionate community, and let FilmSlate be your go-to platform for all things film-related. Experience the thrill of discovering new movies, sharing your thoughts, and expanding your cinematic horizons with FilmSlate.</p>
</br>
</html>
{% endblock %} 