{% extends 'base.html' %}

{% block content %}
<div style="position: relative; background-color: rgb(24, 22, 34); width: 2565px; height: 849px; overflow: hidden; right: 50%; bottom: 100px; ">
    <img src="https://i.imgur.com/vGEacE0.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover;" class="rounded">
    <div style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; pointer-events: none; background: radial-gradient(74.03% 43% at 50% 52.52%, rgba(28, 22, 41, 0.35) 68.05%, #1c1629 110%)"></div>
    <h1 class="text-center" style="position: absolute; top: 50%; left: 50.6%; transform: translate(-50%, -50%); z-index: 1; color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Discover movies that inspire.</h1>
    <h4 class="text-center" style="position: absolute; top: 63%; left: 50.6%; width: 900px; transform: translate(-50%, -50%); z-index: 1; color: #fff; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); word-wrap: break-word;">Explore thousands of movies, dive into intriguing plots, and uncover hidden gems. From classics to the latest releases, FilmSlate is your portal to film nirvana.</h4>
    <div style="margin: auto; text-align: center; position: absolute; top: 75%; left: 47.5%; z-index: 2">
        <a class="nav-link d-inline-block" style="border: none;
          border-radius: 2px;
          display: inline-block;
          padding: .4em 2.5em;
          background: #1d8a99;
          color: #fff;" href="{% url 'about' %}">Learn More</a>
    </div> 
</div>
<div style="position: relative; z-index: 1; margin: 0 auto 30px auto; text-align: center; bottom: 140px">
    <div style="height: 35px;
        margin: auto;
        display: flex;
        width: 90%;
        max-width: 500px;
        padding: 10px;
        background: #fff;
        border-radius: 2px;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);">
        <form action="/search/">
            <input type="text" placeholder="Begin Your Search..." name="q" style="color: #989ca2; width: 450px;
                outline: none;
                border: none;
                background: transparent;">
        </form>
    </div>
</div>



<!-- Trending Results are listed here -->

<div id="trendings" class="row" style="position: relative; bottom: 130px;"></div>

<!-- Trending Results are listed here -->



<script>
    fetch("/api/trendings")
    .then(res => res.json())
    .then(data => {
        for (let i=0; i<data.results.length; i++){
            var mainDiv = document.createElement("div");
            mainDiv.setAttribute("class", "card text-black border-secondary");
            mainDiv.setAttribute("style", "width: 18rem; margin: 0 auto 40px; padding: 0px;");
            mainDiv.classList.add("image-hover");
            var img = document.createElement("img");
            img.setAttribute("src", "https://image.tmdb.org/t/p/w500" + data.results[i].poster_path);
            img.setAttribute("class", "card-img-top rounded");
            img.setAttribute("alt", "...");
            var body = document.createElement("div");
            var title = document.createElement("h5");
            var text = document.createElement("p");
            var link = document.createElement("a");
            link.setAttribute("href", "/" + data.results[i].media_type + "/" + data.results[i].id + "/");
            link.setAttribute("class", "stretched-link");
            mainDiv.appendChild(link);
            mainDiv.appendChild(img);
            document.getElementById("trendings").appendChild(mainDiv);
        }
    })
</script>
{% endblock %}