{% extends 'base.html' %} 

{% block title %} 
Results
{% endblock %} 

{% block content %} 
<div style="position: relative; background-color: rgb(24, 22, 34); width: 2565px; height: 649px; overflow: hidden; right: 50%; bottom: 100px; ">
    <img src="https://i.imgur.com/vGEacE0.jpg" alt="image" style="width: 100%; height: 100%; object-fit: cover;" class="rounded">
    <div style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%; pointer-events: none; background: radial-gradient(74.03% 43% at 50% 52.52%, rgba(28, 22, 41, 0.35) 68.05%, #1c1629 110%)"></div>
</div>
<div style="display: flex; align-items: flex-start; justify-content: center; margin-top: -60px">
    <img src="https://image.tmdb.org/t/p/w500{{ data.poster_path }}" alt="..." style="width: 18rem; margin: 0 30px 30px 0; padding: 0;" class="card-img-top rounded">
    <div>
      <h1>{{data.title}}</h1>
      <h5 style="color: rgb(187, 187, 187)">Release Date: {{data.release_date}}</h5>
      <h6 style="color: rgb(187, 187, 187)">Runtime: {{data.runtime}} minutes</h6>
      <h6 style="word-wrap: break-word">{{data.overview}}</h6>
      <hr>
      <h4>Genres</h4>
      <ul>
        {% for g in data.genres %}
        <li>{{ g.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  



{% endblock %}

